/node_modules
/build
/dist
*.log
.env*
.env*.local
env.*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw
*.pem
/.next/
/out/
/coverage
*.tsbuildinfo
next-env.d.ts
.DS_Store
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/docs
*.pdf
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
__pycache__
test.py